:root {
  --color-text1: #212121;
  --color-text2: #757575;
  --color-link-focus: #2196f3;
  --color-bg-body: #ffffff;
  --color-bg-btn: #f5f4fa;
  --color-hero: #2f303a;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  color: var(--color-text1);
}

.feedback {
  color: var(--color-text2);
}

.link:hover,
.link:focus,
.feedback:hover,
.feedback:focus {
  color: var(--color-link-focus);
}

.hero,
.footer {
  background-color: var(--color-hero);
}

.h1 {
  color: var(--color-bg-body);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  background-color: var(--color-bg-btn);
  border-radius: 4px;
}

.btn:focus,
.btn:hover {
  background-color: var(--color-link-focus);
  color: var(--color-bg-body);
  border-radius: 4px;
}

.aspect h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.aspect p {
  color: var(--color-text2);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--color-bg-btn);
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  color: var(--color-text2);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.address {
  font-style: inherit;
}
