@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-v19-latin_cyrillic/raleway-v19-latin_cyrillic-700.woff)
      format("woff"),
    url(../fonts/raleway-v19-latin_cyrillic/raleway-v19-latin_cyrillic-700.woff2)
      format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-text1: #212121;
  --color-text2: #757575;
  --color-link-focus: #2196f3;
  --color-bg-body: #ffffff;
  --color-bg-btn: #f5f4fa;
  --color-hero: #2f303a;
}
.body {
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

li {
  list-style: none;
}

.link {
  color: var(--color-text1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo .web {
  color: var(--color-link-focus);
}
.logo .studio {
  color: var(--color-text1);
}

.feedback {
  color: var(--color-text2);
}

.link:hover,
.link:focus,
.feedback:hover,
.feedback:focus {
  color: var(--color-link-focus);
}

.hero {
  background-color: var(--color-hero);
  text-align: center;
}

.h1 {
  color: var(--color-bg-body);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  background-color: var(--color-link-focus);
  color: var(--color-bg-body);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
/*
.btn:focus,
.btn:hover {
  background-color: var(--color-link-focus);
  color: var(--color-bg-body);
  border-radius: 4px;
}*/

.aspect h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.aspect p {
  color: var(--color-text2);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--color-bg-btn);
}

.ul-content {
  text-align: center;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team p {
  color: var(--color-text2);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--color-hero);
}

.footer .link {
  font-style: normal;
  color: var(--color-bg-body);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer .studio {
  color: var(--color-bg-body);
}
.footer .link:focus,
.footer .link:hover {
  color: var(--color-link-focus);
}

/*==============portfolio=====================*/
.btn-prtfolio {
  background-color: var(--color-bg-btn);
  color: var(--color-text1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn-prtfolio:hover,
.btn-prtfolio:focus {
  background-color: var(--color-link-focus);
  color: var(--color-bg-body);
  border-radius: 4px;
}

.prtfolio-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
